
body {
   background: linear-gradient(to bottom, #7d2303, #bbb3d4);
    min-height: 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

body.page-python {
    background: linear-gradient(135deg, #a20685 0%, #8ec5fc 100%);


}

h1, h2 {
    text-align: center;
    color: #2c3e50;
}

h1 {
    font-size: 3.5rem;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 2.4rem;
    margin-top: 30px;
}


#paragraphe1, p {
    text-align: center;
    max-width: 900px;
    margin: 15px auto; 
    font-size: 35px;
    color:white;
}


.langages {
    display: flex;
    justify-content: flex-start; 
    margin-top: 35px;
}

.langages img {
    width: 150px; 
    height: auto;
    transition: transform 0.3s ease; 
    cursor: pointer;
    border-radius: 10px;
    margin-left: 0; 
}


.langages img:hover,.C img:hover,.liste img:hover {
    transform: scale(1.1);
}

.var {
    color: #000000;
    font-size: 50px;
    margin-left: -310px;
    margin-top: 200px;
    font-weight: bold;
}

.conteneur-lecons .langages img {
    width: 400px;  
    height: auto; 
    margin-left: 0; 
    border-radius: 15px; 
}

.C{
    margin-left: 300px;
    margin-top: -170px;
    cursor: pointer;
    border-radius: 10px;
}

.liste img {
    width: 350px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    margin-left: 500px;
    margin-top: -140px;
    transition: transform 0.3s ease;
}

.bloc2 p.liste {
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    transform: translateY(-190px) translateX(-520px);
    margin-top: -90px;

}

.bloc3 {

    margin-left: 100px;
}

.boucle img {
    width: 350px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-left: 900px;
    transform: translateY(-250px); 
    transition: transform 0.3s ease; 
}

.boucle img:hover {
    transform: translateY(-250px) scale(1.1); 
}


.bloc3 p.boucle{
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    transform: translateY(-300px) translateX(-60px);
    margin-top: -90px;

}

.bloc4 {
    transform:translateX(1400px) translateY(-500px);

}

.bloc4 p.dictionnaire {
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    transform: translateY(-50px) translateX(-800px);
    margin-top: -90px;


}

.dictionnaire img {
    width: 800px;
    height: auto;
    transform: translateX(50px);
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;

}
.dictionnaire img:hover {
    transform: scale(1.02); 
}





