
body {
    background-color: #530656; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}


h1, h2 {
    text-align: center;
    color: #2c3e50; 
}

h1 {
    font-size: 2.5rem;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


#paragraphe1, p {
    text-align: center;
    max-width: 800px;
    margin: 10px auto; 
}


.langages {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.langages img {
    width: 150px; 
    height: auto;
    transition: transform 0.3s ease; 
    cursor: pointer;
    border-radius: 10px; 
}


.langages img:hover {
    transform: scale(1.1);
}
